<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="deng" level="DEBUG"/>
    <!-- Turn off third party chatter -->
    <logger name="httpclient.wire" level="OFF"/>
    <logger name="o.s" level="OFF"/>
    <logger name="org.springframework" level="OFF"/>
    <logger name="org.apache" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
